<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>OlahInputData</servlet-name>
        <servlet-class>Pertemuan5.OlahInputData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OlahInputHidden</servlet-name>
        <servlet-class>Pertemuan5.OlahInputHidden</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OlahInputHidden2</servlet-name>
        <servlet-class>Pertemuan5.OlahInputHidden2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PilihanToping</servlet-name>
        <servlet-class>Quiz.PilihanToping</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Hasil</servlet-name>
        <servlet-class>Quiz.Hasil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OlahData</servlet-name>
        <servlet-class>Pertemuan7.OlahData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sukses</servlet-name>
        <servlet-class>Pertemuan7.Sukses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Gagal</servlet-name>
        <servlet-class>Pertemuan7.Gagal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Kurang</servlet-name>
        <servlet-class>Pertemuan7.Kurang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Salah</servlet-name>
        <servlet-class>Pertemuan7.Salah</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Auth</servlet-name>
        <servlet-class>ProjekMini.Auth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DaftarMahasiswa</servlet-name>
        <servlet-class>Pertemuan9.DaftarMahasiswa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataMahasiswa</servlet-name>
        <servlet-class>Pertemuan9.DataMahasiswa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OlahAddPegawai</servlet-name>
        <servlet-class>Pertemuan11.OlahAddPegawai</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OlahInputData</servlet-name>
        <url-pattern>/OlahInputData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OlahInputHidden</servlet-name>
        <url-pattern>/OlahInputHidden</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OlahInputHidden2</servlet-name>
        <url-pattern>/OlahInputHidden2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PilihanToping</servlet-name>
        <url-pattern>/PilihanToping</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Hasil</servlet-name>
        <url-pattern>/Hasil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OlahData</servlet-name>
        <url-pattern>/OlahData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sukses</servlet-name>
        <url-pattern>/Sukses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Gagal</servlet-name>
        <url-pattern>/Gagal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Kurang</servlet-name>
        <url-pattern>/Kurang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Salah</servlet-name>
        <url-pattern>/Salah</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Auth</servlet-name>
        <url-pattern>/Auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DaftarMahasiswa</servlet-name>
        <url-pattern>/DaftarMahasiswa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataMahasiswa</servlet-name>
        <url-pattern>/DataMahasiswa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OlahAddPegawai</servlet-name>
        <url-pattern>/OlahAddPegawai</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
